.form {
    margin-top: 40px;
    label {
        display: block;
        font-weight: 400;
        font-size: 13px;
        color: #b7b7b7;
        margin-bottom: 10px;
        padding-left: 16px;
    }
    &__inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    &__amount  {
        width: 320px;
        input {
            width: 100%;
            background: #000; 
            border-radius: 12px;
            font-weight: 600;
            line-height: 19px;
            color: #f5f5f5;
            border: 2px solid rgba(249, 47, 57, 0.35);
            padding: 14px
        }
    }  
    &__selects {
        display: flex;
        column-gap: 25px;
        align-items: end;
    } 
    &__select {
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 32px;
            cursor: pointer;
            margin-bottom: 5px;
            padding: 3px;
            border-radius: 50%;
            opacity: 0.4;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__info {
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    &__results {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        opacity: 0;
        &.shown {
            opacity: 1;
        }
    }
    &__result {
        // background: linear-gradient(180deg, rgba(245, 245, 245, 0.7) 0%, rgba(0, 0, 0, 0.1) 100%);
        background-color: rgba(245, 245, 245, 0.4);
        border-radius: 12px;
        padding: 12px;
        color: #000;
        display: grid;
        align-items: center;
        column-gap: 8px;
        grid-template-columns: 32px 1fr;
        grid-template-areas: 
        "icon titles"
        "icon value";
        &__icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            grid-area: icon;
        }
        &__titles {
            grid-area: titles;
            display: flex;
            justify-content: start;
            align-items: start;
            column-gap: 10px;
        }
        &__title {
            font-weight: 500;
            font-size: 14px;
        }
        &__full {
            font-weight: 400;
            font-size: 12px;
            opacity: .5;
        }
        &__equals {
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.6;
        }
    }
    &__value {
        grid-area: value;
        font-weight: 700;
        font-size: 19px;
    }
    &__btn {
        background-color: rgba(250, 10, 30, 0.5);
        border-radius: 12px;
        font-size: 17px;
        color: #fff;
        padding: 12px 30px;
        cursor: pointer;
        margin-left: auto;
    }
}

.rate {
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
    }
    &__last {
        color: rgba(245, 245, 245, 0.5);

    }
}