.form {
    margin-top: 40px;
    label {
        display: block;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #b7b7b7;
        margin-bottom: 10px;
        padding-left: 16px;
    }
    &__inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    &__amount  {
        width: 320px;
        input {
            width: 100%;
            background: #2B2440; 
            border-radius: 12px;
            font-weight: 600;
            line-height: 19px;
            color: #f5f5f5;
            border: 2px solid rgba(255, 88, 95, 0.35);
            padding: 14px
        }
    }  
    &__selects {
        display: flex;
        justify-content: center;
        column-gap: 25px;
        align-items: flex-end;
    } 
    &__select {
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #271D36;
            border-radius: 50%;
            border: #f6f2f2 solid 1px;
            opacity: .5;
            &:hover {
                opacity: 1;
            }
        }
    }
}