.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        border-bottom: 2px solid rgba(184, 134, 11,);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 70%;
        opacity: 0.2;
    }
}
.tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 10px;
    padding: 15px 10px;
    opacity: 0.5;
    &__icon {
        width: 20px;
        height: 20px;
    }
    &:hover {
        opacity: 0.8;
    }
    &__link {
        text-transform: uppercase;
        &.active {
            opacity: 1;
        }
    }
   
}