.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        border-bottom: #fff solid 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        opacity: 0.2;
    }
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    column-gap: 10px;
    padding: 15px 10px;
    opacity: .5;
    // transition: opacity .25s ease;
    // position: relative;
    // &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 0;
    //     height: 2px;
    //     background: linear-gradient(90deg, #271D35 0%, rgba(39, 29, 53, 0.2) 100%);
    // }
   &:hover {
    opacity: 0.8;
   }
   &.active {
    opacity: 1;
   }
}